# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/

# Secrets
*.pem
*.key
